{% extends 'home/home.html' %}
{% import "common/page.html" as paginate_page %}

{% block css %}
    <style>
        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 0;
            border-radius: 4px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>BlueCoin导出</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        {# 提示信息 #}
                        {% include 'common/message.html' %}
                        <div class="tile-stats">
                            <form method="post" action="{{ url_for('home.bluecoin',page=1) }}" class="form-inline" style="margin-top: 5px;margin-left: 10px;">
                                <div class="form-group">
                                    {{ form.amount }}
                                    {% for err in form.amount.errors %}
                                        <p class="text-danger pull-left">{{ err }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                     {{ form.numbers }}
                                     {% for err in form.numbers.errors %}
                                        <p class="text-danger pull-left">{{ err }}</p>
                                     {% endfor %}
                                </div>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    {{ form.submit }}
                                    {{ form.csrf_token }}
                                </div>
                            </form>
                            <p>生成卡号会以追加形式写入文件，列表中最靠前为最全的</p>
                        </div>
                        <div class="x_content">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>操作人员</th>
                                    <th>返回结果</th>
                                    <th>文件路径</th>
                                    <th>创建时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for v in page_data.items %}
                                    <tr>
                                        <td>{{ v.id }}</td>
                                        <td>{{ v.name }}</td>
                                        <td>{{ v.result }}</td>
                                        <td><a target="_blank" href="{{ url_for('static', filename=v.filename) }}" >{{ v.filename }}</a></td>
                                        <td>{{ v.create_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {{ paginate_page.page(page_data,'home.bluecoin') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
