<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="{{ url_for('static',filename='images/img.jpg') }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{ session['admin'] }}</h2>
    </div>
</div>
<!-- /menu profile quick info -->

<br/>

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> 关注流水 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for('home.index') }}">汇总流水</a></li>
                    <li><a href="{{ url_for('home.day') }}">按天流水</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> 重点关注 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for('home.charge') }}">关注流水</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> 调整收入 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for('home.adjust') }}">调整收入</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> 数据查询 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for('home.blue_coins',page=1) }}">BlueCoin</a></li>
                    <li><a href="{{ url_for('home.job_list' , page=1) }}">定时任务</a></li>
                    <li><a href="{{ url_for('home.elastics')}}">E S 查询</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i>系统管理<span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ url_for('home.admin_list',page=1) }}">用户管理</a></li>
                    <li><a href="{{ url_for('home.role_list',page=1) }}">角色管理</a></li>
                    <li><a href="{{ url_for('home.auth_list',page=1) }}">权限管理</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>

<!-- /sidebar menu -->